<form class="w-full" id="form-login">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button class="bg-violet-500" type="submit">Login</button>
</form>

<a href="/signup">Create account</a>

<script src="/js/login.js"></script>