<form class="w-full" id="form-signup">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name">
    <label for="user_name">User Name</label>
    <input type="text" name="user_name">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <label for="age">Age</label>
    <input type="number" name="age">
    <button class="bg-violet-500" type="submit">Signup</button>
</form>

<a href="/">Login</a>

<script src="/js/signup.js"></script>