<nav class="bg-indigo-500 text-white w-screen -ml-[2.6%] py-4 border-cyan-300 border-b-8">
    <div class="w-[95%] mx-auto flex items-center justify-between">
        <h1 class="font-extrabold text-xl uppercase">
            <a href="/products">Segunda Entrega</a>
        </h1>

        <ul class="font-bold flex items-center gap-4">
            <li>
                <a href="/products">Products</a>
            </li>
            <li>
                <a href="/realtimeproducts">Real Time Products</a>
            </li>
            <li>
                <a href="/messages">Messages</a>
            </li>
            <li>
                <a href="/carts">Carritos</a>
            </li>
        </ul>
    </div>
</nav>

{{#if name}}
    <div class="bg-white w-screen -ml-[2.6%] mb-3 border-cyan-300 border-b-8">
        <div class="w-[95%] mx-auto flex items-center justify-between">
            <h3 class="">Bienvenido {{ name }}</h3>
            <form id="form-logout">
                <button class="bg-red-500 text-white py-2 px-4 text-sm font-medium rounded-md">Cerrar sesión</button>
            </form>
        </div>
    </div>
{{else}}
    <div class="bg-white w-screen -ml-[2.6%] mb-3 border-red-300 border-b-8">
        <div class="w-[95%] mx-auto flex items-center justify-between">
            <h3 class="">Ningun usuario a iniciado sesión</h3>
            <a class="bg-green-500 text-white py-2 px-4 text-sm font-medium rounded-md" href="/">Iniciar sesión</a>
        </div>
    </div>
{{/if}}

<script src="/js/logout.js"></script>